<% html_title(l(:label_settings), 'Log plugin') -%>
<h4>Log plugin</h4>

<p><%= check_box_tag 'settings[log_enabled]', 1, settings['log_enabled'] %> <label for='settings_log_enabled'>Enabled?</label></p>
